doctype html
block setup
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/black-tie/jquery-ui.min.css')
    if main
      script(src='/requirejs.js', data-main=main) 
  body
    nav
      ul
        li
          a(href='/movies')= t('nav.movies')
        li
          a(href='/people')= t('nav.people')
    main
      block content
