body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

span.orig:before {
    content: " (";
}

span.orig:after {
    content: " )";
}

span.orig {
    font-style: italic;
}
