/* General alignment */
body {
    /*padding: 50px;*/
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

nav {
    height: 2em;
}

    nav ul li {
        float: left;
        list-style: none;
        padding-right: 1em;
    }


ul {
    padding-left: 0;
    list-style: none;
}

main {
    position: relative;
}

.content {
    position: absolute;
    left: 30em;
}

.side {
    width: 30em;
    position: absolute;
}


/* View movie page */
span.orig {
    font-style: italic;
}

    span.orig:before {
        content: " (";
    }

    span.orig:after {
        content: ")";
    }
