extends ../layout

block setup
  - title = t('list_movies.title')

block content
  h2= t('list_movies.add_movie')
  form(action='/movies/create', method='post')
    input(type='text', name='name')
    input(type='submit')

  h2= t('list_movies.list_movies')
  ul
  each movie in movies
    li
      a(href='/movies/'+movie.id+'/view')= movie.name
